body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.game-container {
    margin-top: 50px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.choices div {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}



.scoreboard {
    margin-top: 20px;
    font-size: 18px;
}